body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('../assets/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #2c3e50;
    font-size: 2.5rem;
    margin: 20px 0;
}

header {
    margin-bottom: 20px;
    background-color: transparent;
}

.header-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header-content p {
    font-size: 1.8em;
    margin: 3%;
    flex: 1;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
    color: #333;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
}

nav ul li a:hover {
    color: #1abc9c;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

p {
    text-align: justify;
}

img {
    display: block;
    margin: 20px auto;
    border-radius: 12px;
}

.box {
    margin-bottom: 20px;
}

.about-content {
    display: flex;
    align-items: flex-start;
}

.about-content img {
    width: 220px;
    height: auto;
    margin-right: 20px;
    border-radius: 12px;
    margin-top: -4px;
}

.about-text {
    flex: 1;
    text-align: left;
}

.tools {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
}

.tools h2 {
    text-align: center;
}

.tools ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.certificaciones {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
}

.download-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.download-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007aff;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #005bb5;
}

p.contact-link {
    text-align: center;
    color: #ffffff;
}

.contact-link a {
    color: #eaff00;
    text-decoration: none;
}

.contact-link a:hover {
    color: #faff92;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
}

footer div {
    margin: 20px 0;
}

footer a {
    display: inline-block;
    margin: 0 10px;
}

footer img {
    width: 70px;
    filter: brightness(0) invert(1);
}

footer a:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
        align-items: center;
    }

    .about-content img {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .about-text {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .fotopersonal {
        display: block;
        margin: 0px;
        width: 150px;
        height: auto;
    }
}

.download-btn-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.footer-icons a {
    margin: 0 10px;
}
