@use "variables";

.download-btn-container {
  text-align: center;

  .download-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: variables.$primary-color;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;

    &:hover {
      background-color: darken(variables.$primary-color, 10%);
      transform: translateY(-2px);
    }
  }
}

.contact-link {
  text-align: center;
  margin: 20px 0;
}
