@use "variables";

// Footer
footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  
  p {
    margin: 0;
    text-align: center;
  }

  .footer-icons {
    display: flex;
    justify-content: center;
    gap: 20px;

    a {
      img {
        width: 60px;
        height: 60px;
        filter: brightness(0) invert(1);
        transition: filter 0.3s, transform 0.3s ease; // Agregar transform para transiciones más suaves

        &:hover {
          filter: brightness(0) invert(0.7);
          transform: scale(1.1); // Aumentar el tamaño del ícono en hover
        }
      }
    }
  }
  
  // Media query para pantallas pequeñas (320px y menores)
  @media (max-width: 320px) {
    .footer-icons {
      a {
        img {
          width: 100%;  // Ajusta el tamaño de los íconos al 100% del contenedor
          height: auto; // Mantén la proporción original de los íconos
        }
      }
    }
  }
}
