@use "variables";

// Header Content
.header-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  p {
    font-size: 1.8em;
    margin: 3%;
    flex: 1;
  }
}

// Social Icons
.social-icons {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-right: 20px;
  flex-wrap: wrap; // Añadido para evitar el overflow en pantallas pequeñas

  a {
    display: inline-block;

    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }

      &.frame3 {
        height: 100px;
        width: 100px;
        margin-top: 20px;
      }
    }
  }

  // Media Query para pantallas pequeñas
  @media (max-width: 480px) {
    img {
      width: 100%; // Ajuste para evitar el overflow
      height: auto;
    }
  }
}

// Small Text
small {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 0.875rem;
  color: #666;
}

// Projects Section
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%; // Asegura que los proyectos no generen overflow

  div {
    flex: 1 1 calc(33.33% - 20px);
    min-width: 200px;
    margin-bottom: 20px;

    a {
      display: block;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  // Media Query para pantallas medianas
  @media (max-width: 768px) {
    div {
      flex: 1 1 calc(50% - 20px); // Ajuste para pantallas medianas
    }
  }

  // Media Query para pantallas pequeñas
  @media (max-width: 480px) {
    div {
      flex: 1 1 100%; // Ajuste para pantallas pequeñas
    }
  }
}

// Nombre Animado
.nombre {
  font-size: 24px; // Ajusta el tamaño según tus necesidades
  color: variables.$text-color; // Usa la variable de color del texto
  animation: slideIn 1s ease forwards;
}

// Animación de deslizamiento
@keyframes slideIn {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
