@use 'variables';

// Navigation
nav {
  text-align: center;
  margin-top: 40px;

  ul {
    list-style: none;

    li {
      display: inline-block;
      margin: 0 15px;
      color: variables.$text-color;

      a {
        text-decoration: none;
        color: variables.$text-color;
        font-size: 1.2rem;

        &:hover {
          color: variables.$primary-color;
        }
      }
    }
  }
  .download-btn-container {
    text-align: center; // Centrar el contenedor
  
    .download-btn {
      display: inline-block; // Permitir margen y padding
      padding: 12px 24px; // Espaciado interno
      background-color: variables.$primary-color; // Color de fondo
      color: #fff; // Color del texto
      border-radius: 5px; // Bordes redondeados
      text-decoration: none; // Quitar subrayado
      transition: background-color 0.3s, transform 0.3s; // Transiciones suaves
  
      &:hover {
        background-color: darken(variables.$primary-color, 10%); // Oscurecer el color al pasar
        transform: translateY(-2px); // Elevar ligeramente al pasar
      }
    }
  }
  
}
