@use 'variables';

// Navigation
nav {
  text-align: center;
  margin-top: 40px;

  ul {
    list-style: none;

    li {
      display: inline-block;
      margin: 0 15px;
      color: variables.$text-color;

      a {
        text-decoration: none;
        color: variables.$text-color;
        font-size: 1.2rem;

        &:hover {
          color: variables.$primary-color;
        }
      }
    }
  }
  
}
